<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Forum Django Angular</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Login</a></li>
                <!-- <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>-->
                <!--<li><a href="../navbar-static-top/">Static top</a></li>
                <li><a href="../navbar-fixed-top/">Fixed top</a></li>-->
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>

<div id="vertical_navbar">

    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <!-- Subject with the most upvote or subject with the most people talking -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <!-- Search on the forum -->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Best subject 1</a></li>
                <li><a href="#">Best subject 2</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="#">Favorite subjects</a></li>
            </ul>

            <ul class="nav navbar-nav">
                <li><a href="#">Participate subjects</a></li>
            </ul>


        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>
