<!DOCTYPE html>
<html ng-app="Forum">
<head lang="fr">
    {% include 'head.html' %}
</head>

<!-- {% if user.is_authenticated %}
         <li><a href="/+{{ user.username }}">+{{ user.username }}</a></li>
         <li><a href="/+{{ user.username }}/settings">Settings</a></li>
         <li><a href="javascript:void(0)">Logout</a></li>
       {% else %}
         <li><a href="/login">Login</a></li>
         <li><a href="/register">Register</a></li>
       {% endif %}-->


<body> <!--style="background: url('/media/background.jpg'); background-size: cover;-"-->

<header>
    {% include 'header.html' %}
</header>


<div class="col-md-12">
    <div ui-view>

    </div>
</div>

<!-- A changer ne PAS y toucher
<div id="sidebar">
    <div class="my-container">
        <div class="row">
            <div class="col-md-2 no-float">Navigation</div>
            <div class="col-md-10 no-float">
                <div ui-view>

                </div>
            </div>
        </div>
    </div>

</div>
-->


<footer>

</footer>
{% include 'javascripts.html' %}

</body>


</html>