{% load staticfiles %}

<script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>

<script type="text/javascript">NAME = "Forum"</script>
<script type="text/javascript" src="{% static 'js/Forum.js' %}"></script>
<script type="text/javascript" src="{% static 'js/config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/routeForum.js' %}"></script>


