{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ngstorage/ngStorage.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js' %}"></script>

<!-- Init the module -->
<script type="text/javascript">NAME = "Forum"</script>
<script type="text/javascript" src="{% static 'js/Forum.js' %}"></script>
<script type="text/javascript" src="{% static 'js/config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/routeForum.js' %}"></script>

<!-- User -->
<script type="text/javascript" src="{% static 'js/users/usersModule.js' %}"></script>
<script type="text/javascript" src="{% static 'js/users/controllers/authenticationControllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/users/services/authenticationServices.js' %}"></script>


<!-- Manage a subject -->
<script type="text/javascript" src="{% static 'js/subjects/subjectsModule.js' %}"></script>
<script type="text/javascript" src="{% static 'js/subjects/controllers/showSubjectControllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/subjects/controllers/createASubject.js' %}"></script>
<script type="text/javascript" src="{% static 'js/subjects/controllers/editMessageInSubjectController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/subjects/controllers/replySubjectController.js' %}"></script>
<script type="text/javascript" src="{% static 'js/subjects/controllers/voteMessageInSubject.js' %}"></script>

<script type="text/javascript" src="{% static 'js/subjects/services/subjectsServices.js' %}"></script>
