{% load staticfiles %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>



<script type="text/javascript" src="{% static 'angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'angular-ui-router/release/angular-ui-router.min.js' %}"></script>

<script type="text/javascript">NAME = "Forum"</script>
<script type="text/javascript" src="{% static 'js/Forum.js' %}"></script>
<script type="text/javascript" src="{% static 'js/config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/routeForum.js' %}"></script>

<script type="text/javascript" src="{% static 'js/users/usersModule.js' %}"></script>
<script type="text/javascript" src="{% static 'js/users/controllers/authenticationControllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/users/services/authenticationServices.js' %}"></script>



