ansicolors==1.0.2
configparser==3.5.0b2
coverage==3.6
Django==1.8.5
django-appconf==1.0.1
django-bower==5.0.4
django-jenkins==0.17.0
django-rest-swagger==0.3.4
djangorestframework==3.2.4
drf-nested-routers==0.10.0
env-tools==2.0.0
futures==2.2.0
pep8==1.6.2
psutil==2.2.1
psycopg2==2.6.1
pyflakes==1.0.0
PyYAML==3.11
six==1.10.0
tini==3.0.1
