<h1>SUbject</h1>


<ul ng-repeat="message in showSubject.messages">

    {{ message.id }}
    {{ message.author.username }}
    {{ message.content }}

    <div ng-controller="VoteMessageInSubjectController as vote">
        <a href="#" ng-click="vote.upvote(message)"> upvote </a>
        <a href="#" ng-click="vote.downvote(message)">downvote</a>

        <span>vote {{ message.vote }}</span>
    </div>


    <div ng-if="showSubject.authenticateAccount !=  undefined">
        <div ng-controller="EditMessageInSubjectController">
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">I'm a modal!</h3>
                </div>
                <form ng-submit="editPost()">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea ng-init="newContentMessage  = contentMessage" ng-model="newContentMessage"
                                      class="form-control" id="content">
                            </textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </form>
            </script>
            <a href="#" ng-click="open('large', message)"> Edit </a>

        </div>
    </div>

</ul>

<h4>Default</h4>
<uib-pagination max-size="5" total-items="showSubject.totalItems" ng-model="showSubject.currentPage"
                ng-change="showSubject.pageChanged()"></uib-pagination>

<div ng-controller="ReplySubjectController as replySubject">

    <form ng-submit="replySubject.sendReply()">

        <input type="text" ng-model="replySubject.content"/>

        <button type="submit" value="submit">Submit</button>

    </form>

</div>



